

<div class="container mural">
  <br>
  <h1  class="text-center">Vagas na Área de Técnologia</h1>
  <div class="row">
    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
       <div class="card" >
           <img src="assets\img\imagens\tec1.jpg" class="card-img-top" alt="...">
           <div class="card-body">
             <h3>Engenheiro de Software</h3>
             <div class="card-body">
              <h5 class="card-title">Codigo da vaga: 5</h5>
              <h5 class="card-title">Vaga: Lorem ipsum </h5>
              <h5 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
              <h5 class="card-title">Salário: R$30.000 </h5>

            </div>
             <a href="" class="btn btn-primary">Visualizar Vaga</a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
      <div class="card">
         <img src="assets\img\imagens\tec2.jpg" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Analista de Segurança de Informação</h3>
           <div class="card-body">
            <h5 class="card-title ">Codigo da vaga: 6</h5>
            <h5 class="card-title">Vaga: Lorem ipsum </h5>
            <h5 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            <h5 class="card-title">Salário: R$20.000 </h5>

          </div>
            <a href="" class="btn btn-primary">Visualizar Vaga</a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
      <div class="card">
        <img src="assets\img\imagens\tec3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>Administrador de Sistemas</h3>
          <div class="card-body">
            <h5 class="card-title">Codigo da vaga: 7</h5>
            <h5 class="card-title">Vaga: Lorem ipsum </h5>
            <h5 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            <h5 class="card-title">Salário:R$30.000 </h5>

          </div>
           <a href="" class="btn btn-primary">Visualizar Vaga</a>
        </div>
      </div>
    </div>
  </div>

