<div class="container mural">
   <h1  class="text-center">Vagas para PCD</h1>
  <section class="lista-vagas">
    <div *ngFor="let vaga of vagas">

      <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
        <div class="card">
          <img src="assets\img\imagens\df.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>{{ vaga.nome }} </h3>
            <div class="card-body">
              <p class="card-title">codigo da vaga:{{vaga.id}}</p>
              <h6 class="card-title">Descrição:{{ vaga.descricao }}</h6>
              <h6 class="card-title"> Salário: R${{ vaga.salario }},00 </h6>

            </div>

            <a href="vagas-adm.html" class="btn btn-primary">Visualizar Vaga</a>
          </div>
        </div>
      </div>


      </div>





  </section>

