<div class="container">

  <h1  class="text-center">Vagas para PCD</h1>
  <div class="row">
    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
       <div class="card" >
           <img src="assets\img\imagens\df.jpg" class="card-img-top" alt="...">
           <div class="card-body">
             <h3>Brand Specialist / Especialista De Gestão De Marcas - Vaga Exclusiva Para PCD</h3>
             <div class="card-body">
              <h5 class="card-title">Codigo da vaga: 2</h5>
              <h5 class="card-title">Vaga: Lorem ipsum </h5>
              <h5 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
              <h5 class="card-title">Salário: R$30.000 </h5>

            </div>
             <a href="http://localhost:4200/vagas-pcd" class="btn btn-primary">Visualizar Vaga</a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
      <div class="card">
         <img src="assets\img\imagens\df.jpg" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Atendente De Relacionamento - Sac/Cac - Vaga Pcd</h3>
           <div class="card-body">
            <h5 class="card-title ">Codigo da vaga: 2</h5>
            <h5 class="card-title">Vaga: Lorem ipsum </h5>
            <h5 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            <h5 class="card-title">Salário: R$30.000 </h5>

          </div>
            <a href="vagas-tecnologia.html" class="btn btn-primary">Visualizar Vaga</a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
      <div class="card">
        <img src="assets\img\imagens\df.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>Assistente Administrativo Transportes - Vaga Afirmativa Para Pcd</h3>
          <div class="card-body">
            <h5 class="card-title">Codigo da vaga: 2</h5>
            <h5 class="card-title">Vaga: Lorem ipsum </h5>
            <h5 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            <h5 class="card-title">Salário:R$30.000 </h5>

          </div>
           <a href="vagas-adm.html" class="btn btn-primary">Visualizar Vaga</a>
        </div>
      </div>
    </div>
  </div>







<!--<section class="lista-vagas">
  <div *ngFor="let vaga of vagas">

    <div class="card" style="width: 18rem;">
      <img src="assets\img\vagas\{{vaga.foto}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">codigo da vaga:{{vaga.id}}</h5>
        <h5 class="card-title"> vaga:{{ vaga.nome }}</h5>
        <h5 class="card-title"> Descrição:{{ vaga.descricao }}</h5>
        <h5 class="card-title"> Salário: R${{ vaga.salario }},00</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


  </div>


</section>-->
