
<div class="container mural">
  <h1 class="text-center">Setores</h1>
  <div class="row">
    <div class="col-sm lista-vagas">
       <div class="card" >
           <img src="assets\img\imagens\vagapcd.jpg" class="card-img-top" alt="...">
           <div class="card-body">
             <h3>Vagas para PCD</h3>
             <a href="http://localhost:4200/vagas-pcd" class="btn btn-primary">Visualizar</a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-vagas">
      <div class="card">
         <img src="assets\img\imagens\vagatec.jpg" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Área de Técnologia</h3>
            <a href="http://localhost:4200/mural-vagastec" class="btn btn-primary">Visualizar</a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-vagas">
      <div class="card">
        <img src="assets\img\imagens\vagatec.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>Área da Saúde</h3>
           <a href="http://localhost:4200/mural-vagasmed" class="btn btn-primary">Visualizar</a>
        </div>
      </div>
    </div>
  </div>


</div>






