
<div class="container mural">
  <br>

  <h1  class="text-center">Vagas na Área da Saúde</h1>
  <div class="row">
    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
       <div class="card" >
           <img src="assets\img\imagens\med3.jpg" class="card-img-top" alt="...">
           <div class="card-body">
             <h2>Enfermeiro</h2>
             <div class="card-body">
              <p class="card-title">Codigo da vaga: 9</p>
              <h6 class="card-title">Vaga: Lorem ipsum </h6>
              <h6 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
              <h6 class="card-title">Salário: R$5.000 </h6>

            </div>
             <a href="" class="btn btn-primary">Visualizar Vaga</a>
           </div>
         </div>

    </div>

    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
      <div class="card">
         <img src="assets\img\imagens\med2.jpg" class="card-img-top" alt="...">
         <div class="card-body">
           <h3>Médico Cardiologista</h3>
           <div class="card-body">
            <p class="card-title ">Codigo da vaga: 10</p>
            <h6 class="card-title">Vaga: Lorem ipsum </h6>
            <h6 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
            <h6 class="card-title">Salário: R$10.000 </h6>

          </div>
            <a href="" class="btn btn-primary">Visualizar Vaga</a>
         </div>
       </div>

  </div>
    <div class="col-sm lista-vagas shadow p-3 mb-5 bg-body rounded">
      <div class="card">
        <img src="assets\img\imagens\med1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>Fisioterapeuta</h3>
          <div class="card-body">
            <p class="card-title">Codigo da vaga: 11</p>
            <h6 class="card-title">Vaga: Lorem ipsum </h6>
            <h6 class="card-title">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
            <h6 class="card-title">Salário:R$6.000 </h6>

          </div>
           <a href="" class="btn btn-primary">Visualizar Vaga</a>
        </div>
      </div>
    </div>
  </div>

